
@{
    ViewBag.Title = "关于我们";
}
<link href="~/css/style.css" rel="stylesheet" type="text/css" />
<link href="~/css/public.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="~/js/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="~/js/jquery.event.drag-1.5.min.js"></script>
<script type="text/javascript" src="~/js/jquery.touchSlider.js"></script>
<div class="fkjj">
    <div class="gg">
        <img src="~/images/bj13.jpg">
    </div>
    <div class="fk_jj">
        <h1>疯咖&nbsp;&nbsp;之所以称&nbsp;&nbsp;疯咖</h1>
        <p>
            疯咖韩语外教网是目前中国最专业的在线韩语培训机构，是使用韩国本土老师真人在线、实时互动的方法来进行韩语培训的机构
            ，致力于改变目前韩语只会学不会说的现状。专注在线直播互动教学，并独创有利于中国人学习用的韩语教材。
            定位于学生与社会人士，即毕业后投入职场，不管在工作、进修或者是在日常的生活上使用韩语需求的人。
        </p>
        <p>
            疯咖韩语利用真人在线学习系统，为在线韩语培训的领导先驱，提供网络真人在线、视频实时互动、近百位专业韩国本土外教、1-6人小班制 24小时全韩语学习环境，时间地点由您决定，所有韩语外教任您选择。学员可用在任何时间、任何地点、选择喜欢的韩语老师进行在线学习、通过 在线管理机制、可用轻易掌握课程流程与进度，发挥最大学习效益，使学员疯狂提升学习效率、降低学习成本。
        </p>
        <img src="~/images/bj38.jpg" />
    </div>
</div>
<div class="fk_yhbt">
    <h1>看疯咖有何不同</h1>
    <h3>为影响你而发<span>声</span></h3>
    <div class="fk_a">
        <img src="~/images/bj39.jpg" />
        <div class="fk_app">
            <strong>语言的背后是文化</strong>
            <p>学习语言更重要的是学习语言背后的文化，和他们的思维逻辑，因为学习 语言就为了融入这个社会，而学习韩语就是为了和韩国人接触，为了能让 你和更多的韩国人沟通，所以疯咖韩语有来自不同背景不同领域的外教 任你选择。</p>
        </div>
    </div>
    <div class="fk_a">
        <img src="~/images/bj40.jpg" />
        <div class="fk_app">
            <strong>和韩国人对话，才能学到真韩语</strong>
            <p>录制的课程并不是真的在线教学，也不是真正的互动，互动是可以实时对话 疯咖韩语就是真正的真人在线实时互动，不是简单的背单词，随便找一个韩国 人聊天，疯咖韩语的外教们更关心来自对课程内容的交流，如果你能保持每天和 外教互动，一个月就不再是哑巴韩语。</p>
        </div>
    </div>
    <div class="fk_a">
        <img src="~/images/bj41.jpg" />
        <div class="fk_app">
            <strong>习惯是学习语言的重要环节</strong>
            <p>刚刚入门的学生常常因为没有专业的人来提醒纠错，而错过了改正的最佳时机就会 一直错下去，因此疯咖韩语的外教们会主动培养你的正确语言习惯。</p>
        </div>
    </div>
    <h1>爱上疯咖的理由</h1>
    <h3>他们知道</h3>
    <div class="fk_img">
        <img src="~/images/yq1.jpg" />
        <img src="~/images/yq2.jpg" />
        <img src="~/images/yq3.jpg" />
        <img src="~/images/yq4.jpg" />
    </div>
</div>

