
@{
    ViewBag.Title = "VIP";
}
<link href="~/css/style.css" rel="stylesheet" type="text/css" />
<link href="~/css/public.css" rel="stylesheet" type="text/css" />
<div class="kttj ktj">
    <div class="kttj_tj">
        <h1>疯咖VIP会员，让你的精彩恰到好处。</h1>
        <h5>预存全年课程，触手可得。</h5>
        <h1><img src="~/images/kt.png" />&nbsp; ￥99/<span>365天</span></h1>
        <div style="height:40px; width:100%;"> </div>
        <a href="vipconfirm_order.html">立即开通</a>
    </div>
</div>

