
@{
    ViewBag.Title = "使用条款";
}
<link href="~/css/style.css" rel="stylesheet" type="text/css" />
<link href="~/css/public.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="~/js/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="~/js/jquery.event.drag-1.5.min.js"></script>
<script type="text/javascript" src="~/js/jquery.touchSlider.js"></script>
<script type="text/javascript" src="~/js/TouchSlide.1.1.js"></script>
<script type="text/javascript" src="~/js/touchslider.dev.js"></script>
<script type="text/javascript" src="~/js/fkhy.js"></script>
<div class="syxy">
    <div class="img">
        <img src="~/images/bj5.jpg" />
    </div>
    <div class="syxy_a">
        <h2>使用协议</h2>
        <div>
            欢迎您加入「疯咖韩语」免费会员（含正式会员适用）并使用「疯咖韩语」所提供之各项会员服务（以下简称本服务），「疯咖韩语」网站（以下简称本网站）是由
            「上海xxxxxxxxxxxxxxx公司」（以下简称本公司）所建置，当您注册完成或开始使用本服务时，即视为您已经阅读、了解并同意本公司之会员服务条款（以下简称
            本服务条款），关于本服务条款系为规范您与本公司间之契约。如果您不同意本服务条款的内容，或者您所属国家或地区排除本约定内容之全部或一部时，您应立即
            停止使用「疯咖韩语」会员服务。
        </div>
        <div>
            如您是未满十八岁之未成年人，则您必须在加入会员前将本服务条款请您的父母、法定代理人或监护人阅读并得到其同意，才可以注册及使用「疯咖韩语」所提供之会
            员服务。当您使用「疯咖韩语」所提供之服务时，则视为您的父母或监护人已经阅读、了解并同意本服务条款。
        </div>

        <div>
            <strong>一、您的注册义务</strong>
            （一）请依注册申请程序所提示之项目，登录您本人正确、真实及完整之个人资料。当您的个人资料有异动时，请立即予以更新，以维持您个人资料之正确、真实及
            完整。如因您登录资料不实或冒用他人名义，以致个人权利受有损害或有侵害他人之权利或有违反法令时，应自负相关之法律责任。<br />
            （二）如您所提供个人资料有误或个人资料异动但未予更新，以致于与原登录之数据不符时，本公司有权随时终止会员资格及各项会员服务。
        </div>
        <div>
            <strong>二、会员服务</strong>
            （一）您依注册程序登录并经本公司完成相关设定后，您即取得会员之资格，并可以开始使用本服务。<br />
            （二）当您成为「疯咖韩语」会员后而得使用之各项会员服务时，其所有权或使用权利仍属本公司及其所约定之人，所有会员仅得依本服务条款之约定使用，不得出租、
            出借、移转或让予给其他第三人使用<br />
            （三）本公司有权增加、变更或取消会员服务中相关系统或功能之全部或一部之权利，无须个别通知会员；且有关现行或尔后之各项服务均受本服务条款之规范。
        </div>
        <div>
            <strong>三、「疯咖韩语」隐私权保护政策</strong>
            您的注册数据及其他相关数据，均受到「疯咖韩语」隐私权保护政策」所保护，有关「疯咖韩语」隐私权保护，请详阅「疯咖韩语」首页上
            「隐私权政策」，以了解并保障您的权益。但会员于上课期间所纪录之影像、声音及教材等内容，同意无偿供本公司于相关产品之改善、宣传及营销时使用。<br />
        </div>
        <div>
            <strong>四、会员账号及密码之保管</strong>
            （一）您注册完成后将会取得一组账号及密码，您有义务妥善保管您的账号及密码之机密与安全，不得泄漏给任何以外第三人。您必须为此组账号及密码之一切行为
            负责，此组账号及密码所做之一切行为即视为您本身之行为。<br />
            （二）本组账号及密码仅限于您个人使用，非经本公司之同意，您不得出租、出借、移转或让与给其他第三人使用。<br />
            （三）如您发现您的账号及密码遭盗用或其他不当使用，您必须立即通知「疯咖韩语」，以利本公司采取相关措施。但不得将本公司所采取之措施解释为本公司对您有
            明示或默示担保或赔偿责任，对于您的账号及密码遭人非法使用，本公司亦无法负任何赔偿责任。<br />
            （四）每次使用完毕后，应确实注销并结束您账号及密码的使用，以防止被他人盗用。
        </div>
        <div>
            <strong>五、会员之权利</strong>
            疯咖韩语」为您提供了不可转让、非专利、有存取、使用与显示的权限限制的网站内容，您在开始使用这些内容时必须遵守这些相关的规定。此网站
            上的数据只供您做为私人与非商业的用途来使用。而此网站所提供的特定服务则只有「疯咖韩语」的注册会员才能使用。在您注册购买「疯咖韩语」 所提供的服务或者免
            费试用服务时，也就表示您同意接受在本公司及「疯咖韩语」网站上中所列示的各项条款与规定。<br />
        </div>
        <div>
            <strong>六、会员之义务</strong>
            （一）会员不得利用「疯咖韩语」会员服务，进行任何商业行为或以任何方式非法使用。<br />
            （二）会员同意接受「疯咖韩语」会员中心寄发的会员电子报，或特别优惠、促销活动及其他相关信息。<br />
            （三）会员除应遵守本服务条款之约定外，并同意遵守本公司各项服务营业规章与会员所在当地国家法令及因特网之国际使用惯例与礼节，且不得有从事下列或有类
            似之行为：<br />
            1、有窃取、更改、破坏他人信息，或有擅自复制他人信息转售、转载情事者。<br />
            2、未经对方同意，擅自寄发电子广告信件至对方信箱者，或蓄意破坏他人信箱或其通信设备者。<br />
            3、于论坛区张贴与主题无关之讯息者。<br />
            4、散播计算机病毒者。<br />
            5、公布或传送任何诽谤、侮辱、具威胁性、攻击、不雅、猥亵、不实，或有违背公序良俗、字义、图片或任何形式的档案于「疯咖韩语」网站上。<br />
            6、撷取、转寄、播放非经所有人正式开放或授权之资源者。<br />
            7、有侵害他人名誉、隐私权、营业秘密、知识产权或其他相关之权利，或有侵害之虞者。<br />
            8、未经同意收集他人电子邮件地址及其他个人资料者。<br />
            9、传送、张贴广告，或发表或任何虚伪不实或引人错误及其他之表示或表征者。<br />
            10、其他有危害通信、违反相关法令或本公司规定之情事或之虞者。

        </div>

    </div>


</div>

