
@{
    ViewBag.Title = "联系我们";
}
<link href="~/css/style.css" rel="stylesheet" type="text/css" />
<link href="~/css/public.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="~/js/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="~/js/jquery.event.drag-1.5.min.js"></script>
<script type="text/javascript" src="~/js/jquery.touchSlider.js"></script>
<div class="lxwm">
    <img src="~/images/bj27.jpg" />
    <div class="lxwm_wm">
        <h1>联系我们</h1>
    </div>
    <div class="lxwm_dz">
        <div class="lxwm_xj">
            <p>服务热线：400-0788-508</p>
            <p>服务邮箱：joy.cao@78bang.cn</p>
            <p>上海总部：上海市杨浦区长阳路1616号互联网大厦</p>
            <p>韩国分部：</p>
        </div>
        <img src="~/images/bj28.jpg" />
    </div>
</div>

