
@{
    ViewBag.Title = "退款说明";
}
<link href="~/css/style.css" rel="stylesheet" type="text/css" />
<link href="~/css/public.css" rel="stylesheet" type="text/css" />
<div class="zzcl">
    <div class="img">
        <img src="~/images/bj13.jpg" />
    </div>
    <div class="zzcl_a">
        <h2><img src="~/images/lo.png" /><br />我们所做<br />只为让您更放心</h2>
        <div class="zzcl_op">
            <div class="zzcl_rt">
                <img src="~/images/qi.png" />
                <div>
                    <h3>7天无理由退款：</h3>
                    <p>疯咖韩语学员可以在购买后的7天内里有退款（扣除手续费5%，如已上课另扣除已上课费用）疯咖韩语提供免费试听、购买前的免费试听及退款承诺可以充分保障学员的权利。</p>
                </div>
            </div>
            <div class="zzcl_rt">
                <img src="~/images/z.png" />
                <div>
                    <h3>支付宝特约商家服务：</h3>
                    <p>疯咖韩语是支付宝信任特约商家，已加入支付宝的“互联网信任计划”，若您有任何问题，请垫400-0788-508，我们将有专人竭诚为您服务。</p>
                </div>
            </div>
        </div>
    </div>
</div>

