
@{
    ViewBag.Title = "师资团队";
}
<link href="~/css/style.css" rel="stylesheet" type="text/css" />
<link href="~/css/public.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="~/js/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="~/js/jquery.event.drag-1.5.min.js"></script>
<script type="text/javascript" src="~/js/jquery.touchSlider.js"></script>
<script type="text/javascript" src="~/js/TouchSlide.1.1.js"></script>
<script type="text/javascript" src="~/js/touchslider.dev.js"></script>
<script type="text/javascript" src="~/js/fkhy.js"></script>
<script type="text/javascript" src="~/js/jquery-1.9.1.js"></script>
<script type="text/javascript" src="~/js/jquery.nicescroll.js"></script>
<div class="tsfk">
    <div class="img">
        <img src="~/images/tdd.jpg">
    </div>
    <div class="tsfk_a">
        <div class="tsfk_asd">
            <div class="ma">
                <h2>现在开始</h2>
                <h2>探索疯咖的精彩</h2>
            </div>
            <div class="tsfk_fk ol">
                <img src="~/images/bj15.png" />
                <div class="tsfk_fr">
                    <h3>韩国本土外教，24小时为您教学</h3>
                    <p>只用全韩国最优秀的教师团队，可以提供不同的时间上课。<br />韩国首尔设立的教材开发团队，由疯咖韩语的专业教师们一字一字编写。</p>
                </div>
            </div>
            <div class="tsfk_fk or">
                <img src="~/images/bj16.png" />
                <div class="tsfk_fr">
                    <h3>不同的教师背景，带你领域不同的韩国文化</h3>
                    <p>外教老师具有大学教师、医生、企业管理者等各种专业背景，<br />为学员提供专业领域的韩语，满足来自不同行业的学员需求</p>
                </div>
            </div>
            <div class="tsfk_fk ol">
                <img src="~/images/bj18.png" />
                <div class="tsfk_fr">
                    <h3>有品质的教师，才会让课堂生动</h3>
                    <p>严格把关外教品质，不仅要求教学经验丰富、<br />性格方面必须符合互联网教学，能够与学员互动，<br />实现学员全方位发展。</p>
                </div>
            </div>
            <div class="tsfk_fk or">
                <img src="~/images/bj17.png" />
                <div class="tsfk_fr">
                    <h3>实时反馈系统，保证每堂课质量</h3>
                    <p>老师们的每一堂课的教学质量、<br />服务态度都通过系统由学员进行反馈，保证学习效果。</p>
                </div>
            </div>
        </div>
    </div>
    <div class="tsfk_b">
        <h2>疯咖就绪，只等你就位。</h2>
        <div class="tsfk_qp">
            <div class="tsfk_fl fl"><img src="~/images/bj19.png" /></div>
            <div class="tsfk_fr fr">
                <div>
                    <h3>全球招募</h3>
                    <p>韩语教师资格两年以上教学经验，具有不同职业背景</p>
                </div>
                <div>
                    <h3>多重面试</h3>
                    <p>建立中韩两区模拟教学</p>
                </div>
                <div>
                    <h3>专业培训</h3>
                    <p>教学方式 | 熟悉素材 | 内部培训  | 课前培训  | 开始讲课</p>
                </div>
                <div>
                    <h3>教务管理</h3>
                    <p>定期培训 | 学生评价 | 晋级测试</p>
                </div>
            </div>
        </div>
        <div class="tsfk_dn">
            <div class="tab">
                <div class="tab_new">
                    <div class="tab_pic">
                        <div class="left">
                            <ul style="width: 675px; left: 0px;">
                                <li class="on"><a href="#"><img src="~/images/bj20.png" width="359" height="237"></a></li>
                                <li class=""><a href="#"><img src="~/images/bj21.jpg" width="359" height="237"></a></li>
                                <li class=""><a href="#"><img src="~/images/bj23.jpg" width="359" height="237"></a></li>
                            </ul>
                        </div>
                        <span class="btn_ct"><a class="next"></a><a class="prev"></a></span>
                        <span class="btn_bg"></span>
                    </div>
                </div>
                <div class="tab_frt">
                    <div class="tab_txt">
                        <p class="cosl">我们执迷的，<br />是找到会让你着迷的外教。</p>
                        <ul style="width: 1239px; left: 0px;">
                            <li class="on">
                                <p>介绍1</p>
                            </li>
                            <li class="">
                                <p>介绍2</p>
                            </li>
                            <li class="">
                                <p>介绍3</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tsfk_c">
        <h6>即时感受</h6>
        <h2>看他们，<br />就知道。</h2>
        <div class="shezhi">
            <div class="tsfk_pl" id="content">
                <div class="roww">
                    <div class="ts_l fl"><img src="~/images/tx1.png" /></div>
                    <div class="ts_r fr">
                        <p class="rsp">获力挺&nbsp;2016-6-6&nbsp;14:25:25</p>
                        <p>
                            疯咖的学习氛围特别好、很轻松的上完一堂课，而且知识点一个不漏的都可以就下来
                            上课时，遇到的问题还可以跟老师沟通，语言不通时，还可以寻求课程顾问的帮助，老师好
                            漂亮，也很亲切，真的是一节课都看不够，老师还说等我去韩国了，带我去烤肉，哈哈哈哈哈
                        </p>
                    </div>
                </div>
                <div class="roww">
                    <div class="ts_l fl"><img src="~/images/tx2.png" /></div>
                    <div class="ts_r fr">
                        <p class="rsp">获力挺&nbsp;2016-6-6&nbsp;14:25:25</p>
                        <p>
                            疯咖的学习氛围特别好、很轻松的上完一堂课，而且知识点一个不漏的都可以就下来
                            上课时，遇到的问题还可以跟老师沟通，语言不通时，还可以寻求课程顾问的帮助，老师好
                            漂亮，也很亲切，真的是一节课都看不够，老师还说等我去韩国了，带我去烤肉，哈哈哈哈哈
                        </p>
                    </div>
                </div>
                <div class="roww">
                    <div class="ts_l fl"><img src="~/images/tx3.png" /></div>
                    <div class="ts_r fr">
                        <p class="rsp">获力挺&nbsp;2016-6-6&nbsp;14:25:25</p>
                        <p>
                            疯咖的学习氛围特别好、很轻松的上完一堂课，而且知识点一个不漏的都可以就下来
                            上课时，遇到的问题还可以跟老师沟通，语言不通时，还可以寻求课程顾问的帮助，老师好
                            漂亮，也很亲切，真的是一节课都看不够，老师还说等我去韩国了，带我去烤肉，哈哈哈哈哈
                        </p>
                    </div>
                </div>
                <div class="roww">
                    <div class="ts_l fl"><img src="~/images/tx1.png" /></div>
                    <div class="ts_r fr">
                        <p class="rsp">获力挺&nbsp;2016-6-6&nbsp;14:25:25</p>
                        <p>
                            疯咖的学习氛围特别好、很轻松的上完一堂课，而且知识点一个不漏的都可以就下来
                            上课时，遇到的问题还可以跟老师沟通，语言不通时，还可以寻求课程顾问的帮助，老师好
                            漂亮，也很亲切，真的是一节课都看不够，老师还说等我去韩国了，带我去烤肉，哈哈哈哈哈
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
$('#content').niceScroll({
            cursorcolor: "#fac900",//#CC0071 光标颜色
            cursoropacitymax: 1, //改变不透明度非常光标处于活动状态（scrollabar“可见”状态），范围从1到0
            touchbehavior: false, //使光标拖动滚动像在台式电脑触摸设备
            cursorwidth: "5px", //像素光标的宽度
            cursorborder: "0", //   游标边框css定义
            cursorborderradius: "0",//以像素为光标边界半径
            autohidemode: false,//是否隐藏滚动条
        });
</script>

