
@{
    Layout = null;
    ViewBag.Title = "登陆";
}

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="">
    <meta name="author" content="Administrator">
    <meta name="viewport" content="width=device-width; initial-scale=1.0">
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <link href="~/css/style.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="~/js/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="~/js/jquery.event.drag-1.5.min.js"></script>
    <script type="text/javascript" src="~/js/jquery.touchSlider.js"></script>
</head>
<body>
    <div class="login">
        <div class="reg">
            <img src="~/images/da-logo.png" style="margin-top: 80px;" />
            <div class="logo_tp">
                <div class="aa">
                    <div class="tab">
                        <a href="javascript:;" class="on">账号登录</a>
                        <a href="javascript:;">立即注册</a>
                    </div>
                    <div class="tab_con">
                        <div style="display:block;" class="rsp">
                            <div class="rsp_a fl">
                                <form action="" method="post" name="dlForm" id="dlForm" enctype="multipart/form-data">
                                    <input maxlength="20" type="text" id="nickname1" name="tel" class="tel" placeholder="邮箱 | 电话">
                                    <input maxlength="20" type="text" id="nickname2" name="admin" class="admin" placeholder="密码">
                                    <input maxlength="20" type="button" class="rbc-sq" onclick="dlLogin();" value="登录">
                                </form>
                                <div class="wjmm">
                                    <span class="fl"><input type="checkbox" id="kpzl" name="is_kpzl" value="1">两周内免登录</span>
                                    <span class="fr"><a href="#">忘记密码？</a></span>
                                </div>
                            </div>
                            <div class="rsp_b fl">
                                <img src="~/images/hz.png" />
                            </div>
                            <div class="rsp_c fr">
                                <div class="rsp_zj">
                                    <a href="#" class="xl">新浪微博</a>
                                    <a href="#" class="wex">微&nbsp;&nbsp;信</a>
                                </div>
                            </div>
                        </div>
                        <div class="rsp">
                            <div class="rsp_a fl">
                                <form action="" method="post" name="zcForm" id="zcForm" enctype="multipart/form-data">
                                    <input maxlength="20" type="text" id="nickname1" name="zc_tel" class="zc-tel" placeholder="邮箱 | 电话">
                                    <input maxlength="20" type="text" id="nickname2" name="zc_admin" class="zc-admin" placeholder="密码">
                                    <div>
                                        <input maxlength="20" type="text" id="nickname2" name="zc-yzm" class="zc-yzm" placeholder="6位数字">
                                        <span class="dd" id="ddd" onclick="getValidCode(this)">获取验证码</span>
                                    </div>
                                    <p>验证码错误</p>
                                    <input maxlength="20" type="button" class="rbc-sq" onclick="zcLogin();" value="注册">
                                </form>
                            </div>
                            <div class="rsp_b fl">
                                <img src="~/images/hz.png" />
                            </div>
                            <div class="rsp_c fr">
                                <div class="rsp_zj">
                                    <a href="#" class="xl">新浪微博</a>
                                    <a href="#" class="wex">微&nbsp;&nbsp;信</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <script>
            $(function() {
                $(".aa .tab a").click(function() {
                    $(this).addClass('on').siblings().removeClass('on');
                    var index = $(this).index();
                    number = index;
                    $('.aa .tab_con .rsp').hide();
                    $('.aa .tab_con .rsp:eq(' + index + ')').show();
                });

                var auto = 2; //等于1则自动切换，其他任意数字则不自动切换
                if (auto == 1) {
                    var number = 0;
                    var maxNumber = $('.aa .tab a').length;

                    function autotab() {
                        number++;
                        number == maxNumber ? number = 0 : number;
                        $('.aa .tab a:eq(' + number + ')').addClass('on').siblings().removeClass('on');
                        $('.aa .tab_con .rsp:eq(' + number + ')').show().siblings().hide();
                    }
                    var tabChange = setInterval(autotab, 3000);
                    //鼠标悬停暂停切换
                    $('.aa').mouseover(function() {
                        clearInterval(tabChange);
                    });
                    $('.aa').mouseout(function() {
                        tabChange = setInterval(autotab, 3000);
                    });
                }
            });
            </script>
        </div>
    </div>
    <!--登录验证-->
    <script type="text/javascript" src="~/js/common.js"></script>
    <script type="text/javascript">
    localStorage.setItem("jwt",null);
    function dlLogin() {
        var frm = document.forms['dlForm'];
        var tel = frm.elements['tel'].value;
        var admin = frm.elements['admin'].value;
        var msg = '';
        if (tel.length == 0) {
            msg += '请输入账号\n';
        }
        if (admin.length == 0) {
            msg += '请输入密码\n';
        }
        if (msg.length > 0) {
            alert(msg);
            return false;
        } else {

            var data = {
                'user.mobile': tel,
                'user.password': admin
            };

            $.ajax({
                url: URLS.login,
                data: data,
                dataType: 'json',
                success: function(respObj) {
                    if (respObj.code == "0000") {
                        alert(respObj.msg);
                        localStorage.setItem("jwt",respObj.token);
                        window.location = 'grzx.html';
                    } else {
                        alert(respObj.msg);
                    }
                }
            });
            //return true;
        }
    }
    </script>
    <!--注册验证-->
    <script type="text/javascript">
      var util = {
                wait: 90,
                hsTime: function (that) {
                    _this = $(this);
                    if (_this.wait == 0) {
                        $(that).html('重发短信验证码');
                        _this.wait = 90;
                    } else {
                        var _this = this;
                        $(that).html('在' + _this.wait + '秒后点此重发');
                        _this.wait--;
                        setTimeout(function () {
                            _this.hsTime(that);
                        }, 1000)
                    }
                }
            }

    function getValidCode(obj){
      //$(obj).html("重发短信验证码");
       //alert($(obj).html());
       var frm = document.forms['zcForm'];
       var zc_tel = frm.elements['zc_tel'].value;
       var msg = '';
       if (zc_tel.length == 0) {
            msg += '请输入账号\n';
             //util.hsTime("#ddd");
        }
        if (msg.length > 0) {
            alert(msg);
             //util.hsTime(obj);
            return false;
        } else {
            util.hsTime(obj);
            var data = {
                'user.mobile': zc_tel
            };

            $.ajax({
                url: URLS.getValidCode,
                data: data,
                dataType: 'json',
                success: function(respObj) {
                    if (respObj.code == "0000") {

                        alert(respObj.msg);
                        //window.location = 'login.html';
                    } else {
                        alert(respObj.msg);
                    }
                }
            });
            //return true;
        }
    }

    function zcLogin() {
        var frm = document.forms['zcForm'];
        var zc_tel = frm.elements['zc_tel'].value;
        var zc_admin = frm.elements['zc_admin'].value;
        var zc_yzm = frm.elements['zc-yzm'].value;
        var msg = '';
        if (zc_tel.length == 0) {
            msg += '请输入账号\n';
        }
        if (zc_admin.length == 0) {
            msg += '请输入密码\n';
        }
        if (zc_yzm.length == 0) {
            msg += '请输入验证码\n';
        }
        if (msg.length > 0) {
            alert(msg);
            return false;
        } else {
            var data = {
                'user.mobile': zc_tel,
                'user.password': zc_admin,
                'code': zc_yzm
            };

            $.ajax({
                url: URLS.reg,
                data: data,
                dataType: 'json',
                success: function(respObj) {
                    if (respObj.code == "0000") {
                        alert(respObj.msg);
                        window.location = 'login.html';
                    } else {
                        alert(respObj.msg);
                    }
                }
            });
            //return true;
        }
    }
    </script>
</body>
</html>


