
@{
    ViewBag.Title = "公开课";
}
<link href="~/css/style.css" rel="stylesheet" type="text/css" />
<link href="~/css/public.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="~/js/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="~/js/jquery.event.drag-1.5.min.js"></script>
<script type="text/javascript" src="~/js/jquery.touchSlider.js"></script>
<div class="vipkc">
    <h1>参加VIP公开课<br />发掘疯咖无限精彩</h1>
    <div class="vip1 vip">
        <img src="~/images/bj23.jpg">
        <div class="vip_oker">
            <div class="vip_kk">
                <h2>从江南看首尔</h2>
                <h6>内容概略：</h6>
                <p>江南区是韩国首都首尔的一个行政区，位于汉江以南。该地区是首尔重要的商业地带，新沙、驿三、论件、三成都是不少跨国企业的办公室所在地。</p>
                <p>主讲老师：田中老师 &nbsp;&nbsp;2015/11/235/&nbsp;12:11:11</p>
                <a href="open_class3.html">我要听课</a>
            </div>
        </div>
    </div>
    <div class="vip2 vip">
        <img src="~/images/bj24.jpg">
        <div class="vip_oker">
            <div class="vip_kk">
                <h2>坐着地铁玩首尔</h2>
                <h6>内容概略：</h6>
                <p>在韩国，坐地铁可比国内好多了，跟国内比起来，那我宁愿住在韩国地铁上。想知道么？还不进来看看</p>
                <p>主讲老师：哎呀，我去，韩老师 &nbsp;&nbsp;2015/11/235/&nbsp;12:11:11</p>
                <a href="#">我要听课</a>
            </div>
        </div>
    </div>
    <div class="vip3 vip">
        <img src="~/images/bj25.jpg">
        <div class="vip_oker">
            <div class="vip_kk">
                <h2>在韩国，你要做什么样的出租车</h2>
                <h6>内容概略：</h6>
                <p>韩国的出租车，你要是不了解一下，估计会被坑惨，坐了黑色的出租车，你的腊猪蹄就没了。</p>
                <p>主讲老师：田中老师 &nbsp;&nbsp;2015/11/235/&nbsp;12:11:11</p>
                <a href="open_class3.html">我要听课</a>
            </div>
        </div>
    </div>
    <div class="vip4 vip">
        <img src="~/images/bj26.jpg">
        <div class="vip_oker">
            <div class="vip_kk">
                <h2>哎呀！我去~韩老师！！！</h2>
                <h6>内容概略：</h6>
                <p>全国首挡大型韩语脱口秀节目，让你开开心心学韩语，给你最舒适的学习氛围，让你的韩语信手拈来。</p>
                <p>主讲老师：田中老师 &nbsp;&nbsp;2015/11/235/&nbsp;12:11:11</p>
                <a href="open_class3.html">我要听课</a>
            </div>
        </div>
    </div>
    <a href="open_class2.html"><div class="vip_gkk">查看往期公开课</div></a>
</div>