
@{
    ViewBag.Title = "支付成功";
} 
<div class="reg-cont clearfix">
    <div class="reg-ok">
        <b></b><p><span>结算成功</span><a id="acountdown">5</a>秒钟后自动跳转… <a href="/EnterpriseUser/EnterpriseAccount">立即返回</a></p>
    </div>
</div>
@section Scripts{
    <script>
        $(function () {
            var wait = 5;
            countdown();
            function countdown() {
                if (wait == 0) {
                    //按钮出现，倒计时结束跳转到首页
                    window.location.href = "/";
                }
                else { // 倒计时标签更新
                    $("#acountdown").html(wait);
                    wait--;
                    setTimeout(function () {
                        countdown()
                    },
                    1000);
                }
            }
        });
    </script>
}