
@{
    ViewBag.Title = "详情";
}
<link rel="stylesheet" type="text/css" href="~/css/fstyle.css">
<link rel="stylesheet" type="text/css" href="~/css/public.css">
<div class="yiqian">
    <a href="studetn_community.html" onclick="open()" class="gbopen">X</a>
    <div class="student_content_left">
        <p class="wztitle">文章标题</p>
        <p class="wzcontent">
            作者:xxx
            </br>
            2016.04.03
        </p>
        <p class="ic_text"><img src="~/images/sc.png"><span>收藏</span><i></i><img src="~/images/ck.png"><span>收藏</span></p>
    </div>
    <div class="student_content_right">
        <img src="~/images/bj4.jpg">
        <div class="student_content_bottom">
            韩国本土外教，24小时为您教学
            只用全韩国最优秀的教师团队，可以提供不同的时间上课。
            韩国首尔设立的教材开发团队，由疯咖韩语的专业教师们一字一字编写。

            不同的教师背景，带你领域不同的韩国文化
            外教老师具有大学教师、医生、企业管理者等各种专业背景，
            为学员提供专业领域的韩语，满足来自不同行业的学员需求


            有品质的教师，才会让课堂生动
            严格把关外教品质，不仅要求教学经验丰富、
            性格方面必须符合互联网教学，能够与学员互动，
            实现学员全方位发展。

            实时反馈系统，保证每堂课质量
            老师们的每一堂课的教学质量、
            服务态度都通过系统由学员进行反馈，保证学习效果。


            即时感受
            看他们
            就知道。
            疯咖的学习氛围特别好、很轻松的上完一堂课，而且知识点一个不漏的都可以就下来
            上课时，遇到的问题还可以跟老师沟通，语言不通时，还可以寻求课程顾问的帮助，老师好
            漂亮，也很亲切，真的是一节课都看不够，老师还说等我去韩国了，带我去烤肉，哈哈哈哈
        </div>
    </div>
</div>

