
@{
    ViewBag.Title = "学员社区";
}
<script type="text/javascript" src="~/js/jquery-1.9.1.js"></script>
<link rel="stylesheet" type="text/css" href="~/css/fstyle.css">
<link rel="stylesheet" type="text/css" href="~/css/public.css">
<style>
    .left_bottom {
        overflow: hidden;
    }

        .left_bottom:hover img {
            -webkit-transform: scale(1.1);
            transform: scale(1.1);
            transition: .7s;
            -webkit-transition: .7s;
        }

        .left_bottom img {
            width: 100%;
            height: 100%;
            transition: .7s;
            -webkit-transition: .7s;
        }
</style>
<div class="gg">
    <img src="~/images/bj5.jpg">
</div>
<div class="yiqian st_tt">

    <div class="st_left">
        <div class="left_top">
            带你享受
            </br>
            韩国之行
        </div>
        <div class="fd" style="cursor:pointer" onclick="window.open('/BBS/Detail')">
            <div class="left_bottom">
                <img src="~/images/bj7.jpg">
                <div class="img_textmb">
                    <div class="img_text">
                        <p class="fs">家家户户的</p>
                        <p>被济州失去的小清新狠狠的侵蚀了一把，在这里，想做一回重口味的都不容易，鲜艳的建筑，无处不在的</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="st_right" style="cursor:pointer" onclick="window.open('/BBS/Detail')">
        <img src="~/images/bj6.jpg">
        <div class="img_textmb">
            <div class="img_text">
                <p class="fs">家家户户的</p>
                <p>被济州失去的小清新狠狠的侵蚀了一把，在这里，想做一回重口味的都不容易，鲜艳的建筑，无处不在的泰迪熊，连家家户户的信箱都是那么小清新。远远的羡慕他这么大年纪了还有这样的生活品质，敬仰！</p>
            </div>
        </div>

    </div>
    <div class="content_bottom">
        <ul>
            <li style="cursor:pointer" onclick="window.open('/BBS/Detail')">
                <div class="content_bottoms" >

                    <img src="~/images/bj8.jpg">
                    <div class="img_textmb">
                        <div class="img_text">
                            <p class="fs">家家户户的</p>
                            <p>被济州失去的小清新狠狠的侵蚀了一把，在这里，想做一回重口味的都不容易，鲜艳的建筑，无处不在的</p>
                        </div>
                    </div>
                </div>
            </li>
            <li style="cursor:pointer" onclick="window.open('/BBS/Detail')">
                <div class="content_bottoms" >

                    <img src="~/images/bj9.jpg">
                    <div class="img_textmb">
                        <div class="img_text">
                            <p class="fs">家家户户的</p>
                            <p>被济州失去的小清新狠狠的侵蚀了一把，在这里，想做一回重口味的都不容易，鲜艳的建筑，无处不在的</p>
                        </div>
                    </div>

                </div>
            </li>
            <li style="cursor:pointer" onclick="window.open('/BBS/Detail')">
                <div class="content_bottoms" >

                    <img src="~/images/bj10.jpg">
                    <div class="img_textmb">
                        <div class="img_text">
                            <p class="fs">家家户户的</p>
                            <p>被济州失去的小清新狠狠的侵蚀了一把，在这里，想做一回重口味的都不容易，鲜艳的建筑，无处不在的</p>
                        </div>
                    </div>

                </div>
            </li>
        </ul>
    </div>
    <div class="st_left" style="float: right;margin-right: 23px;">
        <div class="left_top">
            更多韩剧
            </br>
            教你说
        </div>
        <div class="fd">
            <div class="left_bottom" >

                <img src="~/images/bj7.jpg">
                <div class="img_textmb">
                    <div class="img_text">
                        <p class="fs">家家户户的</p>
                        <p>被济州失去的小清新狠狠的侵蚀了一把，在这里，想做一回重口味的都不容易，鲜艳的建筑，无处不在的</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="st_right" style="margin-left: 12px;width:697px;" >
        <img src="~/images/bj11.jpg">
        <div class="img_textmb">
            <div class="img_text">
                <p class="fs">家家户户的</p>
                <p>被济州失去的小清新狠狠的侵蚀了一把，在这里，想做一回重口味的都不容易，鲜艳的建筑，无处不在的泰迪熊，连家家户户的信箱都是那么小清新。远远的羡慕他这么大年纪了还有这样的生活品质，敬仰！</p>
            </div>
        </div>
        </a>
    </div>
    <div class="content_bottom">
        <ul>
            <li>
                <div class="content_bottoms" >

                    <img src="~/images/bj9.jpg">
                    <div class="img_textmb">
                        <div class="img_text">
                            <p class="fs">家家户户的</p>
                            <p>被济州失去的小清新狠狠的侵蚀了一把，在这里，想做一回重口味的都不容易，鲜艳的建筑，无处不在的</p>
                        </div>
                    </div>

                </div>
            </li>
            <li>
                <div class="content_bottoms" >

                    <img src="~/images/bj10.jpg">
                    <div class="img_textmb">
                        <div class="img_text">
                            <p class="fs">家家户户的</p>
                            <p>被济州失去的小清新狠狠的侵蚀了一把，在这里，想做一回重口味的都不容易，鲜艳的建筑，无处不在的</p>
                        </div>
                    </div>

                </div>
            </li>
            <li>
                <div class="content_bottoms">

                    <img src="~/images/bj8.jpg">
                    <div class="img_textmb">
                        <div class="img_text">
                            <p class="fs">家家户户的</p>
                            <p>被济州失去的小清新狠狠的侵蚀了一把，在这里，想做一回重口味的都不容易，鲜艳的建筑，无处不在的</p>
                        </div>
                    </div>

                </div>
            </li>
        </ul>
    </div>
    <div class="st_left">
        <div class="left_top">
            来自职场的
            </br>
            攻略
        </div>
        <div class="fd">
            <div class="left_bottom" >

                <img src="~/images/bj7.jpg">
                <div class="img_textmb">
                    <div class="img_text">
                        <p class="fs">家家户户的</p>
                        <p>被济州失去的小清新狠狠的侵蚀了一把，在这里，想做一回重口味的都不容易，鲜艳的建筑，无处不在的</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="st_right" >

        <img src="~/images/bj12.jpg">
        <div class="img_textmb">
            <div class="img_text">
                <p class="fs">家家户户的</p>
                <p>被济州失去的小清新狠狠的侵蚀了一把，在这里，想做一回重口味的都不容易，鲜艳的建筑，无处不在的泰迪熊，连家家户户的信箱都是那么小清新。远远的羡慕他这么大年纪了还有这样的生活品质，敬仰！</p>
            </div>
        </div>

    </div>
    <div class="content_bottom">
        <ul>
            <li>
                <div class="content_bottoms">

                    <img src="~/images/bj8.jpg">
                    <div class="img_textmb">
                        <div class="img_text">
                            <p class="fs">家家户户的</p>
                            <p>被济州失去的小清新狠狠的侵蚀了一把，在这里，想做一回重口味的都不容易，鲜艳的建筑，无处不在的</p>
                        </div>
                    </div>

                </div>
            </li>
            <li>
                <div class="content_bottoms">

                    <img src="~/images/bj9.jpg">
                    <div class="img_textmb">
                        <div class="img_text">
                            <p class="fs">家家户户的</p>
                            <p>被济州失去的小清新狠狠的侵蚀了一把，在这里，想做一回重口味的都不容易，鲜艳的建筑，无处不在的</p>
                        </div>
                    </div>

                </div>
            </li>
            <li>
                <div class="content_bottoms">

                    <img src="~/images/bj10.jpg">
                    <div class="img_textmb">
                        <div class="img_text">
                            <p class="fs">家家户户的</p>
                            <p>被济州失去的小清新狠狠的侵蚀了一把，在这里，想做一回重口味的都不容易，鲜艳的建筑，无处不在的</p>
                        </div>
                    </div>

                </div>
            </li>
        </ul>
    </div>
</div>